@model Airline.Web.Areas.FlightControl.Models.FlightCreateUpdateModel

@{
    ViewBag.Title = "Updating flight";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-1"></div>
<div class="col-md-10">
    <div class="row">
        <div class="col-md-12 text-center list-margin">
            <span class="h3">Form of updating selected flight</span>
        </div>
        <div class="col-md-12 text-right list-margin">
            @using (Ajax.BeginForm("AvailableAircrewMembers", "Manage", new { area = "FlightControl" },  new AjaxOptions { HttpMethod = "Post", OnSuccess = "loadAvailableAircrewMembers" }, null))
            {
                @Html.Hidden("targetId", Model.FlightDataModel.FromCity.ToString(), new { id = "targetId" })
                @Html.Hidden("flightId", Model.FlightDataModel.Id.ToString(), new { id = "flightId" })
                <input type="submit" value="Load available aircrew members" class="btn btn-info" />
            }
        </div>
    </div>
    <div class="content-elements-border home-idenx-element-padding">
        @using (Html.BeginForm("UpdateFlight", "Manage", new { area = "FlightControl" }, FormMethod.Post, new { onsubmit = "selectAll(this)" }))
        {
            @Html.Partial("FlightCreateUpdateForm", Model)
            <div class="text-right">
                <input type="submit" value="Update flight" class="btn btn-info" />
            </div>
        }
    </div>
</div>
<div class="col-md-1"></div>

