@model Airline.Web.Models.FirstOrSecondNameModel

<div class="content-elements-border table-element-padding table-element-margin text-output-maggin-padding element-list-background">
    <div class="row">
        <div class="col-md-12 text-center">
            @Html.Label("Change first name")
        </div>
        @using (Html.BeginForm("UpdateFirstName", "Account", new { area = "" }, FormMethod.Post, null))
        {
            <div class="col-md-9">
                <div class="form-group text-left">
                    <span>First name</span>
                    @Html.HiddenFor(x => x.Id)
                    @Html.TextBoxFor(x => x.FSName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.FSName)
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group text-right button-margin-top">
                    <input type="submit" value="Change" class="btn btn-info  btn-sm" />
                </div>
            </div>
        }
    </div>
</div>